:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-align: center;
}

.todo-heading {
  font-size: 2rem;
  line-height: 1.5rem;
}

.todoItem-heading {
  font-size: 1.5rem;
  line-height: 1.125rem;
}
.todo-list {
  list-style: none;
}
.todo-item {
  display: flex;
  justify-content: space-around;
}

.form-input {
  border-radius: 4px;
}
